/.phpunit.cache
/.idea
/.vscode
/.env
/.env.*
!/.env.example
/.foundation/history/*
!/.foundation/history/.gitignore
/.foundation/env-backups/*
!/.foundation/env-backups/.gitignore
/node_modules
/public/build
/public/hot
/storage/*.key
/storage/pail
/vendor
.DS_Store
Thumbs.db
/database/*.sqlite
/database/*.sqlite-shm
/database/*.sqlite-wal
/storage/app/backups/
